@import 'vars';

.About {
    font-family: "HeroNewHairline";

    #about {
        border-bottom: 1px solid $white;
        transition: all 0.35s;
        z-index: 1;
    }

    .top {
        background: $gradient;
        color: $white;

        .centered {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60vh;
    
            h1 {
                font-size: 100px;
                margin: 0;
                padding: 0;
            }
        }
    }

    .content {
        padding: 10px;

        .grid {
            display: grid;
            grid-template-columns: auto auto;
        }

        .gridItem {
            display: flex;
            align-items: center;
            padding: 10px;
        }

        .infographic {
            @media all and (max-width: 768px) {
                width: 100% !important;
            }
        }

        p {
            font-family: "HeroNewThin";
        }

        h4 {
            font-family: "HeroNewRegular";
        }
    }

    a {
        text-decoration: none;
    }
}