@import 'vars';

.Energy {
    font-family: "HeroNewHairline";

    #energy {
        border-bottom: 1px solid $white;
        transition: all 0.35s;
        z-index: 1;
    }

    .top {
        background: $gradient;
        color: $white;

        .centered {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60vh;
    
            h1 {
                font-size: 100px;
                margin: 0;
                padding: 0;
            }
        }
    }

    .content {
        padding: 10px;
        font-family: "HeroNewThin";

        .slickBox {
            padding: 10px;
            background-color: $lightgray;
        }

        .aboveBig {
            color: $blue;
        }

        .thicker {
            font-family: "HeroNewBold";
        }

        .big {
            font-size: 100px;
            margin: 0;
            color: $purple;

            @media all and (max-width: 700px) {
                font-size: 30px;
            }
        }

        .form {
            border-radius: 5px;
        }

        i {
            margin-right: 6px;
        }

        label {
            font-family: "HeroNewThin";
            margin-right: 10px;
        }

        button {
            padding: 5px 30px;
            border: 2px solid $purple;
            background: none;
            outline: none;
            color: $purple;
            font-family: "HeroNewHairline";
            border-radius: 50px;
            font-size: 20px;
            text-decoration: none;
            margin-top: 10px;
        }

        h4 {
            font-family: "HeroNewRegular";
        }

        input {
            outline: none;
        }

        .grid {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 40px;
        }
    }
}