@import 'vars';

.Water {
    font-family: "HeroNewHairline";

    #water {
        border-bottom: 1px solid $white;
        transition: all 0.35s;
        z-index: 1;
    }

    .top {
        background: $gradient;
        color: $white;

        .centered {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60vh;
    
            h1 {
                font-size: 100px;
                margin: 0;
                padding: 0;
            }
        }
    }
}